name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Create local.properties
      run: echo "sdk.dir=${ANDROID_HOME}" > connectme-android/local.properties

    - name: Grant execute permission for gradlew
      run: chmod +x connectme-android/gradlew

    - name: Clean with Gradle
      working-directory: ./connectme-android
      run: ./gradlew clean

    - name: Build with Gradle
      working-directory: ./connectme-android
      run: ./gradlew build

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: connectme-android/app/build/outputs/apk/debug/app-debug.apk
